body {
    font-family: Arial, sans-serif;
    background-color: #10868c;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #4779a7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(107, 77, 77, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0a2440;
    color: #310606;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}